Package: ws.hbang.pheromone
Name: Pheromone
Depends: mobilesubstrate, cydia (>= 1.1.19)
Conflicts: ws.hbang.codling
Replaces: ws.hbang.codling
Version: 1.0~beta2
Architecture: iphoneos-arm
Description: Cydia. Done right.
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq/
Section: Tweaks
